{{ define "main" }}
{{ range .Pages.ByPublishDate.Reverse }}
<article>
  <h2 style="margin-bottom: 0px;">
      <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  <i>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">{{ .Date | time.Format ":date_full" }} &ndash; Tags:
          {{ $tags := .Params.tags }}
                  {{ range $index, $tag := $tags }}
                      <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>
                      {{- if ne $index (sub (len $tags) 1) }}, {{ end }}
                  {{ end }}
      </h4>
  </i>
    {{ if .Params.featured_image }}
        <img src="{{ .Params.featured_image }}" class="thumbnail" alt="{{ .Title }}">
    {{ end }}

  <p>{{ .Summary }} <a class="font-125" href="{{ .RelPermalink }}">[...]</a></p>

</article>
{{ end }}

{{ end }}
