{{ define "main" }}

<div>
  <h3 class="font-125">{{ .Site.Params.homeText | markdownify }}</h3>
</div>

{{ range first 1 .Site.RegularPages.ByDate.Reverse }}
<article>
  <h2 style="margin-bottom: 0px;">
      <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  <i>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">{{ .Date | time.Format ":date_full" }}</h4>
  </i>
  <p>{{ .Content }}</p>

  <i>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">Tags:
          {{ $tags := .Params.tags }}
                  {{ range $index, $tag := $tags }}
                      <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>
                      {{- if ne $index (sub (len $tags) 1) }}, {{ end }}
                  {{ end }}
      </h4>
  </i>

</article>
{{ end }}

{{ end }}
