{{ define "main" }}
    <h1>Artículos con el tag: {{ .Title }}</h1>

    {{ range .Pages }}
        <article>
            <h2 style="margin-bottom: 0px;">
                <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <h4 style="margin-top: 0px; margin-bottom: 0px;">
                {{ .Date.Format "02 Jan 2006" }} &ndash; 
                Tags: 
                {{ range .Params.tags }}
                    <a href="/tags/{{ . | urlize }}" class="tag-link">{{ . }}</a>
                    {{ if not (last) }}, {{ end }}
                {{ end }}
            </h4>
            <p style="margin-top: 0px;">{{ .Summary }}</p>
        </article>
    {{ end }}
{{ end }}