{{ define "main" }}

    {{ range .Pages }}
        <article>
            <h2 style="margin-bottom: 0px;">
                <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <h4 style="margin-top: 0px; margin-bottom: 0px;">
                {{ .Date | time.Format ":date_full" }} &ndash;
                Tags: 
                {{ range .Params.tags }}
                    <a href="/tags/{{ . | urlize }}" class="tag-link">{{ . }}</a>
                    {{ if not (last) }}, {{ end }}
                {{ end }}
            </h4>
            <p style="margin-top: 0px;">{{ .Summary }} <a class="font-125" href="{{ .RelPermalink }}">[...]</a></p>
        </article>
    {{ end }}
{{ end }}
